REQ-ID: FR22
Description: This is a requirement for therapists to see appointments
Type: Functional
Rationale: Therapists need to be able to work to a schedule
Originator: Arosha
Comment: This requirement is ambiguous
Comment: Anthony new comment
comment: test 28.12.20 - update
Comment: Datmore new comment
Comment: bm 2021-01-06