REQ-ID: FR1
Description: This is requirement for patients to see their appointments
Type: Functional
Rationale: Without this appointments will be missed and people will waste their time
Originator: Arosha
Comment: Duplicate of REQ-3 and also ambiguous 
Comment: Where is REQ-3?
Comment: GS 
Comment: bertmckay79-example update
Comment: Changed
Comment: This is my practice go


