REQ-ID: FR22
Description: This is a requirement for therapists to see appointments
Type: Functional
Rationale: Therapists need to be able to work to a schedule
Originator: Arosha
Comment: This requirment is ambiguous
Comment: this is a comment in the arosha=example branch
Comment: this is a comment in the withington-example branch
Comment: this is a comment in the gagibson-example branch
Comment: This is a CB Comment
Comment: This is a comment in the akb branch
Comment: This is a new comment in the MASTER
Comment: This is a comment from RF
Cooment: hghgdfhjdj from JO
Comment: This is an amended comment from SP
Comment: This is a comment from JO
Comment: This is a comment in my shamrock74-example branch
Comment: This is a new comment from JS
Comment: Testing how branches worksin git by Don
Comment: This is a comment from PJ on branch pj-branch
Comment: This is a comment from MarkVR


